# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided this notice is
# preserved.  This file is offered as-is, without any warranty.
# Names of contributors must not be used to endorse or promote products
# derived from this file without specific prior written permission.


# Temp files
*~
*.bak
*.backup
\#*
.\#*
*\#
*.swp
*.swap
*.sav
*.save
*.autosav
*.autosave

# Generated binaries
*.bin
*.o
*.obj
*.elf
*.out
*.output

# Generated folders
## Generated binary folders
bin/
binaries/
obj/
object/
objects/
obj-*-gnu*/
obj-*-linux*/
build*/
Build*/
release*/
Release*/
dbg*/
debug*/
Debug*/
